@{
    ViewBag.Title = "secand";
}
<head>
    <style>
        body {
            margin: 0px;
        }
    </style>
</head>
<body background="~/Content/Images/export-map-share.png" style="background-size:100% 100%; background-attachment:fixed; width:100%; height:100%; overflow: hidden;">
    <canvas id="canvas" style="position:absolute"></canvas>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/drawLine.js"></script>
    <script src="~/Scripts/drawPoint.js"></script>
    <script src="~/Scripts/xmlRead.js"></script>
    <script src="~/Scripts/realDraw.js"></script>
    <script>
        canvas.setAttribute('width', window.innerWidth)
        canvas.setAttribute('height', window.innerHeight)
        var old_lon;
        var old_lat;
        var c = document.getElementById("canvas").getContext("2d");
        drawPoint(@ViewBag.lon,@ViewBag.lat);
        myTimer = (function () {
            $.post("@Url.Action("GetLocation")").done(drawLine);
        });
        IntervalTime =@ViewBag.time * 1000;
        setInterval(myTimer, IntervalTime);
        myTimer();

    </script>
</body>
