
<!DOCTYPE html>
<!-- start -->
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta =charset ="utf-8" />
    <style>
        h1 {
            font-size: 40px;
            font-family:'Script MT';
            text-align: center;
            padding: unset;
            Margin:unset;
        }
        h2 {
            font-size: 60px;
            font-family: 'Gill Sans';
            text-align: center;
            padding: unset;
            Margin: unset;
        }
        div {
            margin-top:30px;
        }
    </style>
</head>
<body background="~/Content/Images/FlightGear.jpg" style="background-size:100% 100%; background-attachment:fixed">
    <div>
        <h1>Welcome to</h1>
        <h2>Flight Gear</h2>
        <h1>map</h1>
    </div>
    
</body>
</html>